<template>
    <div class="p-2">
      <h3>Change item color:</h3>

      <div v-if="state.name === 'NONE'">
        <i>No item selected.</i>
      </div>

      <div v-if="state.name === 'MULTIPLE'">
        <i>Multiple items please select only one.</i>
      </div>

      <select
        v-if="state.name === 'SINGLE'"
        :value="state.color"
        @change="state.changeColor"
      >
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="red">Red</option>
      </select>

    </div>
</template>

<script lang="ts" setup>
import { unref } from "vue";
import { useVisualisation } from "../Visualisation/useVisualisation";
import { setupVisualisationItemProperties } from "./useVisualisationItemProperties";

const vis = useVisualisation();
const ctrl = setupVisualisationItemProperties({ visualisation: vis });
const { state } = unref(ctrl)
</script>

<style scoped>

</style>