<template>
  <div class="flex flex-row h-screen">
    <main class="w-full">
      <div class="flex flex-col">
        <ul class="border-b flex flex-row">
          <li class="-mb-px mr-1">
            <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold"
               href="#">Tab 1</a>
          </li>
          <li class="mr-1">
            <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Tab
              2</a>
          </li>
          <li class="mr-1">
            <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Tab
              3</a>
          </li>
        </ul>

        <div class="tab-content bg-white p-4">
          <div id="tab1">
            <Visualisation vis-id="v1" />
          </div>
          <div id="tab2" class="hidden">Tab 2 Content</div>
          <div id="tab3" class="hidden">Tab 3 Content</div>
        </div>
      </div>
    </main>
  </div>
</template>

<script setup lang="ts">
import Visualisation from "./components/Visualisation/Visualisation.vue";</script>

<style scoped>

</style>
