<template>
  <div>
    <VisualisationItem
      v-for="[, item] in vis.items"
      :key="item.value.id"
      :item="item"
      @click="vis.clickItem"
    />
  </div>
</template>

<script lang="ts" setup>
import { onUpdated } from "vue";
import { useVisualisation } from "../Visualisation/useVisualisation";
import VisualisationItem from "./VisualisationItem.vue";

const vis = useVisualisation();

onUpdated(() => {
  console.log(`[UPDATED] VisualisationCanvas`);
});

</script>

<style scoped></style>