<template>
  <div
    :style="{background: props.item.value.color}"
    class="vis-item w-[50px] h-[50px] rounded m-2 box-content border-4 border-white"
    :class="{ 'selected': props.item.value.isSelected}"
    @click="handleClick">
  </div>
</template>

<script lang="ts" setup>
import { onUpdated, Ref } from "vue";
import type { ExtendedVisualisationItem } from "../Visualisation/useVisualisation";

interface Props {
  item: Ref<ExtendedVisualisationItem>;
}

interface Emits {
  (e: "click", item: ExtendedVisualisationItem, event: MouseEvent): void;
}

const props = defineProps<Props>();
const emit = defineEmits<Emits>();

const handleClick = (e: MouseEvent) => emit("click", props.item.value, e);

onUpdated(() => {
  console.log(`[UPDATED] VisualisationItem ${props.item.value.id}`);
});

</script>

<style scoped>
.selected {
  border-color: goldenrod;
}
</style>