<template>
  <div class="flex flex-row h-screen">
    <main class="w-full">
      <div class="flex flex-col">
        <VisualisationCanvas />
      </div>
    </main>
    <aside class="w-1/4 bg-gray-300 p-4">
      <h2 class="text-blue-800">Right Sidebar</h2>
      <VisualisationItemProperties />
    </aside>
  </div>
</template>

<script lang="ts" setup>
import { onUpdated } from "vue";
import { provideVisualisation, setupVisualisation } from "./useVisualisation";
import VisualisationCanvas from "../VisualisationCanvas/VisualisationCanvas.vue";
import VisualisationItemProperties from "../VisualisationItemProperties/VisualisationItemProperties.vue";

const { visId } = defineProps<{ visId: string }>();

const vis = setupVisualisation(visId);

provideVisualisation(vis);

onUpdated(() => {
  console.log(`[UPDATED] Visualisation`);
});

</script>

<style scoped>

</style>